body {
    font-family: 'Open Sans', sans-serif;
}

.row {
    margin: 0 !important;
}

.container-fluid {
    max-width: 1200px;
    background-color: #280000;
    margin: 0 auto;
    padding: 0 !important;
}

.container {
    max-width: 960px !important;
    padding: 0 !important;
}

.header {
    background-color: #280000;
    padding-top: 20px !important;
    display: flex;
    justify-content: space-between;
    color: #FDFDFD;
}

a {
    outline: none;
    white-space: nowrap;
}

a:hover {
    text-decoration: none !important;
    cursor: pointer !important;
}

/* Header */

.logo h3 {
    font-family: 'Open Sans', serif;
    font-weight: 600;
    cursor: pointer;
}

.header ul {
    margin: 0;
    padding: 0;
}

.header ul li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 6px 10px;
    text-align: center;
    vertical-align: middle;
}

.header ul li a {
    display: block;
    white-space: nowrap;
    color: #FDFDFD;
    text-transform: uppercase;
    font-size: 14px;
}

.header li:hover {
    text-decoration: none !important;
    color: #FDFDFD !important;
    background-color: #76C38F;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

.header .active {
    background-color: #76C38F;
    /* padding: 6px 10px; */
    border-radius: 15px;
}

/* Carousel */

.container-fluid:nth-child(2) {
    background-color: #660000;
    max-width: 1200px;
}

.carousel {
    position: relative;
    background-color: #280000;
    padding: 20px 0px;
}

.carousel img {
    width: 100%;
    border-radius: 50%;
}

.carousel p {
    color: #FDFDFD;
}

.carousel .item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin: 0 60px;
}

.item>* {
    flex-basis: 50%;
}

.carousel .subcribe p:nth-child(1) {
    font-size: 1.75rem;
    font-weight: 600;
}

.carousel .subcribe p:nth-child(2) {
    font-size: 1rem;
}

.carousel .subcribe a {
    text-decoration: none;
    color: #FDFDFD;
    font-size: 1rem;
    background-color: #76C38F;
    border-radius: 15px;
    padding: 10px 16px;
}

.carousel .subcribe a:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.carousel-control-next {
    position: absolute !important;
    right: -4% !important;
}

.carousel-control-prev {
    position: absolute !important;
    left: -4% !important;
}

[class*='chevron'] {
    color: #76C38F;
    font-size: 36px;
    font-weight: bold;
}

/* Services */

.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    background-color: #660000 !important;
    padding: 50px 0 !important;
    border-bottom: 2px solid #303030;
}

.service-item {
    text-align: center;
    background-color: #FFF;
    padding: 0 !important;
    transition: 200ms all;
}

.service-item h4 {
    text-transform: uppercase;
    padding: 10px 15px;
    color: #333333;
}

.service-item p {
    padding: 0 15px;
    color: #B1B1B1;
    font-size: 12px;
}

.service-item img {
    margin-top: 25px;
    width: 75%;
}

.service-item:hover {
    background-color: #76C38F;
}

.service-item:hover>* {
    color: #000;
}

/* Work */

.work {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding-top: 50px !important;
    padding-bottom: 60px !important;
}

.work .label {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%);
    padding: 4px 8px;
    background-color: #303030;
    color: #FDFDFD;
    text-transform: uppercase;
    font-size: 24px;
    border-radius: 15px;
}

.work-item {
    position: relative;
}

.work-item a {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 14px;
    color: #FFF !important;
}

.work-item a:hover {
    color: #76C38F !important;
}
.work-item img{
    width: 100%;    
}
.work-item::before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    top: 80%;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

/* Footer */

.container-fluid:nth-child(3) {
    background-color: #303030;
    padding-top: 50px;
}

h5 {
    color: #FDFDFD !important;
    margin-bottom: 3rem !important;
}

.footer {
    padding-top: 50px !important;
}

.footer a {
    color: #76C38F;
}

.footer p {
    color: #979797;
}
.footer input, .footer textarea{
    display: block;
    width: 100%;
}
.blog a:nth-child(6) {
    font-size: 12px;
}

.blog p:nth-child(3), .blog p:nth-child(4) {
    font-size: 10px;
    margin-bottom: 0;
}

.blog p:nth-child(5) {
    margin: 10px 0;
}

.link a {
    display: block;
    padding-bottom: 10px;
    font-size: 14px;
}

.link a:hover {
    color: #5e5e5e;
}

.tweets span {
    color: #76C38F;
}

::placeholder {
    color: #989898;
    font-size: 14px;
}

.contact input {
    font-size: 14px;
    margin-bottom: 10px;
    background-color: #222222;
    border: none;
    border-radius: 10px;
    height: 40px;
    color: #FDFDFD;
}

#message {
    border-radius: 10px;
    background-color: #222222;
    color: #FDFDFD;
    border: none;
    margin-bottom: 10px;
}

#submit {
    background-color: #76C38F;
    color: #303030;
    text-transform: uppercase;
    padding: 0px 10px;
    font-weight: 500;
    cursor: pointer;
}

#submit:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, .3);
}

hr {
    width: 100%;
    border-top: 2px solid rgba(0, 0, 0, .1) !important;
    margin-top: 2rem;
    box-shadow: 0 0 1px rgba(255, 255, 255, .3);
}

/* Copyright */

.copyright {
    display: flex;
    justify-content: space-between;
    color: #989898;
    /* padding: 50px 0 20px; */
}

.copyright p {
    padding: 0 15px;
    font-size: 14px
}

/* Responsive */
/* 1.PC */
@media(max-width:992px){
    .service-item:nth-child(1){
        margin-left: 20px;
    }
    .service-item:nth-child(4){
        margin-right: 20px;
    }
    
    /*  */
}

/* 2.Tablet */
@media (max-width: 768px) {
    /* Header */
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* Carousel */
    /* Services */
    .services {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }
    .service-item:nth-child(2n+1){
        margin-left: 50px;
    }
    .service-item:nth-child(2n){
        margin-right: 50px;
    }
/* Work */

.work {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}


.odd-item{
    margin-left: 50px;
}
.even-item{
    margin-right: 50px;
}

/* Footer */
.footer .link{
    margin-bottom: 50px !important;
}
.footer .blog, .footer .tweets{
    padding-right: 80px !important;
}
.footer{
    margin-left: 50px !important;
}
.footer input, .footer textarea{
    width: 75%;
}
/*  */
}
/* 3 */
@media(max-width:576px) {
    /* Header */
    .navbar ul{
        display: grid !important;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 10px 30px
    }
/* Carousel */
.carousel .item p:nth-child(1){
    font-size: 1.5rem;
}
.carousel .item p:nth-child(2){
    font-size: 0.75rem;
}
.carousel .item a{
    font-size: 0.75rem;
}
/* Services */
.service-item h4, .label{
    font-size: 1rem !important;
}
.service-item p{
    font-size: 0.65rem;
}

    /*Work  */
    .work .work-item a{
        font-size: 0.75rem;
    }
    /* Footer */
.footer h5{
    margin-bottom: 20px !important;
}
.footer p{
    font-size: 0.75rem
}
.footer a{
    font-size: 0.75rem;
}
.footer .contact input{
    height: 30px;
    font-size: .75rem;
}
#message{
    height: 60px;
}
::placeholder{
    font-size: 0.75rem;
}
/* Copyright */
.copyright p{
    font-size: 0.75rem;
}
}